<p>
    Name : <%= student.name %><br>
    College : <%= student.college %><br>
    Batch : <%= student.batch %><br>
    Status : <%= student.status %><br>
    DSAFinalScore : <%= student.DSAFinalScore %><br>
    WebDFinalScore : <%= student.WebDFinalScore %><br>
    ReactFinalScore : <%= student.ReactFinalScore %><br>
</p>